.Player {
  box-sizing: border-box;
  position: fixed;
  width: calc(100vw - 34%);
  left: 0px;
  bottom: 0px;
  height: 152px;
  margin: 0 17% 0 17%;
}

@media only screen and (max-width: 600px) {
  .Player {
    margin: 0;
    width: 100%;
  }
}
