body,
html,
#root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

h1 {
  padding: 0.77rem 0;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.88rem;
  color: #fff;
}

h1 .highlight {
  color: #6c41ec;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.55rem;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 60px);
  height: 100%;
  padding: 0 17% 10% 17%;
  background-image: url("/background_photo_desktop.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  color: #fff;
}

.login-button {
  display: block;
  cursor: pointer;
  width: 20rem;
  padding: 2rem 0;
  border-radius: 54px;
  border-width: 0px;
  background-color: #6c41ec;
  text-align: center;
  font-size: 0.83rem;
  transition: background-color 0.25s;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.login-button:hover {
  background-color: #fff;
  color: #6c41ec;
}

.App-playlist {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media only screen and (max-width: 1020px) {
  .App-playlist {
    align-items: center;
    flex-direction: column;
  }
}
