.SearchResults {
  width: 50%;
  min-height: 200px;
  max-height: 950px;
  overflow-y: scroll;
  padding: 0.88rem;
  background-color: rgba(1, 12, 63, 0.7);
  -webkit-box-shadow: 17px 20px 31px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 17px 20px 31px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 17px 20px 31px -1px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@media only screen and (max-width: 1020px) {
  .SearchResults {
    width: 90%;
    margin-bottom: 2rem;
  }
}
